body,
body::before,
body::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background: black;
  color: white;
}

/* General Style */
a {
  text-decoration: none;
  color: white;
}

/* Header */
/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;

  max-width: 82.5rem;
  margin: 0 auto;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav {
  margin: 0;
  padding: 0;
}

header .logo {
  display: flex;
  font-size: 10px;

  margin-right: 1rem;
  margin-top: -0.5rem;
}

header .logo-img {
  display: block;
  width: 3rem;
  height: auto;
}

header h1 {
  font-family: "Russo One", sans-serif;
  margin: 0.8rem 1rem;
}

header .menu {
  padding: 3.3rem 0;
}

header .menu li {
  margin: 0 2rem;
}

nav ul li:last-child {
  background-color: cadetblue;

  border: 2px solid;
  padding: 0 2rem;
} */

header {
  background: #1e1b3a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 82.5rem;
  margin: 0 auto;
  padding: 1.9rem 0;
}

.logo {
  display: flex;
}

header h1 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: auto 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  font-family: "Inter", sans-serif;
  list-style: none;

  padding: 0 4.1rem 0 0;
}

nav li:last-child {
  padding: 1rem 2rem;
  border: 5px solid white;
}

/* Hero Section */

/* .hero {
  background: greenyellow;

  display: flex;

  max-width: 60rem;
  margin: 0 auto;
}

.cta-image {
}

.cta-img-- {
  display: block;
  width: 33rem;
  height: auto;
} */
