body,
body::before,
body::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background: black;
  color: white;
}

/* General Style */
a {
  text-decoration: none;
  color: white;
}

/* Header */

header {
  background: #1e1b3a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 82.5rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.logo {
  display: flex;
}

header h1 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: auto 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  font-family: "Inter", sans-serif;
  list-style: none;

  padding: 0 4.25rem 0 0;
}

nav li:last-child {
  padding: 1rem 2rem;
  border: 2px solid;
  border-image-source: linear-gradient(90deg, #6b1ef1, #cb28e5);
  border-image-slice: 1;
}

/* Hero Section */
body {
  background: #1e1b3a;
}

section {
  max-width: 82.5rem;
}

.hero {
  display: flex;
  margin: 0 auto;
}

.cta-image {
  position: relative;
}

.cta-img-- {
  position: absolute;
  display: block;
  width: 52rem;
  height: auto;
  padding: 45px 0px 0 0;
  top: -0.8rem;
  left: 3.2rem;
}

.CTA-Hollow-Box {
  position: absolute;
  top: 5rem;
  right: 31rem;
}

.CTA-jupiter {
  position: absolute;
  top: -6.5rem;
  right: -72.5rem;
}

.CTA-Comet {
  position: absolute;
  top: -1.5rem;
  right: -42.5rem;
}

.CTA-BG-Shape {
  position: absolute;
  top: 14rem;
  right: -42.5rem;
}

.CTA-Donut {
  position: absolute;
  top: 45rem;
  right: -60rem;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 6.3rem 0;
}

.cta-text * {
  margin: 0;
}

h1 {
  font-family: Russo One;
  font-size: 82px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

  margin-top: 34px;
}

.cta-intro {
  background: #090909;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

.cta-intro-img {
  display: block;
  width: 4.5rem;
}

h3 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 1rem;
  background-image: linear-gradient(95.79deg, #2317fa -33.63%, #d529e4 97.49%);
  -webkit-background-clip: text;
  color: transparent;
}

.cta-text p {
  margin-top: 2.15rem;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.cta-text button {
  text-align: center;
  color: white;
  font-size: 18px;
  border: none;
  background: linear-gradient(95.48deg, #2317fa -1.25%, #d529e4 97.48%);
  padding: 1.8rem 4.8rem;
  margin: 4rem 0 0 0;
}
